[x-cloak] { display: none !important; }

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 3px;
}

.lyrics-fade-enter-active, .lyrics-fade-leave-active {
    transition: all 0.5s ease;
}

.lyrics-fade-enter, .lyrics-fade-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

.lyrics-fade-move {
    transition: transform 0.5s;
}

:root {
    --scrollbar-thumb: rgba(0, 0, 0, 0.2);
    --scrollbar-track: transparent;
}

.dark {
    --scrollbar-thumb: rgba(255, 255, 255, 0.2);
    --scrollbar-track: rgba(255, 255, 255, 0.1);
}

.lyrics-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.lyrics-content {
    position: absolute;
    width: 100%;
    transition: transform 0.4s;
}

.lyric-line {
    padding: 1px 0;
}

.glassmorphism {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.dark .glassmorphism {
    border-color: rgba(255, 255, 255, 0.1);
}

#backgroundOverlay {
    transition: background-color 0.3s ease;
}

.harmony {
    font-style: italic;
    opacity: 0.8;
    font-size: 0.9em;
}

.lyric-line.text-left p {
    padding-left: 10%; /* 减少左侧空间 */
}

.lyric-line.text-right p {
    padding-right: 10%; /* 减少右侧空间 */
}

.lyric-line p {
    max-width: 80%; /* 限制歌词文本的最大宽度 */
    text-align: center; /* 默认居中对齐 */
}

.lyric-line.text-left p {
    margin-right: auto; /* 左对齐 */
    text-align: left;
    padding-left: 3%; /* 左侧留出20%的空间 */
}

.lyric-line.text-right p {
    margin-left: auto; /* 右对齐 */
    text-align: right;
    padding-right: 3%; /* 右侧留出20%的空间 */
}